/*  --------=========== GENERAL SETTS ===========-------- */
html,
body {
	position: relative;
	min-height: 100%;
}



#login {
	border: 1px solid #AEAEAE;
	margin: 100px auto 0;
	padding: 0;
	width: 300px;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}




/* PAGINATION */

.pagination .disabled {
	visibility: hidden;
}

/*  --------=========== STAR OF OWN SETTINGS ===========-------- */
#cont_wrap {
	margin-top: 2%;
}

#rec_back{
	background:#286090;
	border-radius: 5px 5px 0 0;
	color:white;
	padding: 10px;
}
.admin_menu_btn{
	border-radius: 0px !important;
}
.text_black{
	color:black !important;
}
/* Set the fixed height of the footer here */
#push,
#footer {
}
#footer {
	background-color: #f5f5f5;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
.container .credit {
	padding-top: 15px;
}






































/*  --------=========== BACK TO TOP BUTTON ===========-------- */
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display:none;
	z-index: 2;
}
.btn-vertical-slider{ margin-left:35px; cursor:pointer;}






































	@media (max-width: 1200px) {
		.navbar-header {
			float: none;
		}
		.navbar-toggle {
			display: block;
		}
		.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}
		.navbar-collapse.collapse {
			display: none!important;
		}
		.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
		}
		.navbar-nav>li {
			float: none;
		}
		.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.navbar-text {
			float: none;
			margin: 15px 0;
		}
		/* since 3.1.0 */
		.navbar-collapse.collapse.in {
			display: block!important;
		}
		.collapsing {
			overflow: hidden!important;
		}
	}